[MASTER]
# Use multiple processes to speed up Pylint.
jobs=1

# Pickle collected data for later comparisons.
persistent=yes

# List of plugins (as comma separated values of python modules names) to load
load-plugins=

[MESSAGES CONTROL]
# Disable specific warnings that are noisy for small projects
disable=
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
    too-few-public-methods,
    too-many-arguments,
    too-many-instance-attributes,
    too-many-locals,
    too-many-branches,
    too-many-statements,
    invalid-name,
    fixme

[FORMAT]
# Maximum number of characters on a single line.
max-line-length=100

# String used as indentation unit.
indent-string='    '

[BASIC]
# Good variable names which should always be accepted, separated by a comma.
good-names=i,j,k,ex,Run,_,id,x,y,z

[DESIGN]
# Maximum number of arguments for function / method
max-args=10

# Maximum number of attributes for a class (see R0902).
max-attributes=15

# Maximum number of boolean expressions in a if statement
max-bool-expr=5

[IMPORTS]
# Allow wildcard imports from modules that list __all__.
allow-wildcard-with-all=no

[EXCEPTIONS]
# Exceptions that will emit a warning when being caught.
overgeneral-exceptions=builtins.Exception
