[MASTER]
ignore=.git,__pycache__,.venv,venv,build,dist

[MESSAGES CONTROL]
disable=
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
    too-few-public-methods,
    too-many-instance-attributes,
    too-many-arguments,
    too-many-locals

[FORMAT]
max-line-length=100

[BASIC]
good-names=i,j,k,ex,Run,_,id,x,y,z
